
<div id="content">
  <wt-shuyai *ngIf="cargando || conectar"></wt-shuyai>
  <sa-widgets-grid>
    <div class="row">
      <article class="col-xs-12">
        <sa-widget id="wid-mi-li-0" [editbutton]="false" [colorbutton]="false" [togglebutton]="false" [deletebutton]="false" [fullscreenbutton]="false"
          [custombutton]="false" [collapsed]="false" [sortable]="false">
          <header>
            <h2>
              <strong>Lista de datos</strong>
            </h2>
          </header>
          <div class="widget-body">
            <div class="text-center">
              <div class="pull-left header-button">
                <a class="btn btn-primary" (click)="open()">Nuevo</a>
              </div>
              <h3>Aplicaciones</h3>
            </div>
            <div *ngIf="!cargando">
              <table paginationLength="10"  fbg-datatable [options]="{ order: [[ 1, 'desc' ]]}" pdf="Reporte" 
              class="table table-stripped table-hover">
                <thead>
                  <tr>
                    <th class="acciones">Acciones</th>
                    <th>Documento</th>
                    <th>Nombre</th>
                    <th>Telefono</th>
                    <th>Correo</th>
                    <th>Direccion</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let s of parametros; let i = index">
                    <td>
                      <a placement="top" tooltip="Editar Fila" class="fa fa-pencil fa-lg" (click)="getFila(s)"></a>
                    </td>
                    <td>{{s.documento_doc}}</td>
                    <td>{{s.nombre_doc}} {{s.apellido_doc}}</td>
                    <td>{{s.telefono_doc}}</td>
                    <td>{{s.correo_doc}}</td>
                    <td>{{s.direccion_doc}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
  <div id="anio" bsModal #mddOcente="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="cancelar()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{dOcente.id_docentes ? 'Editar registro' : 'Nuevo registro'}} </h4>
        </div>
        <div class="modal-body">
          <wt-shuyai *ngIf="cargando"></wt-shuyai>
          <div class="row">
            <div class="col-lg-12">
              <form id="frmLugar" #form [saBootstrapValidator]="getValidators()" novalidate="novalidate" (submitEvent)="saveValidar($event)"
                class="form-horizontal">
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label">Documento Administivo:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="dOcente.documento_doc" id="nombre" type="text" class="form-control" name="documento_doc" required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label">Nombre Administrativo:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="dOcente.nombre_doc" id="nombre_doc" type="text" class="form-control" name="nombre" required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label">Apellido Administrativo:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="dOcente.apellido_doc" id="apelido:doc" type="text" class="form-control" name="nombre" required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"> Correo Administrativo:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="dOcente.correo_doc" id="correo_doc" type="text" class="form-control" name="descripcion" required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"> Telefono Administrativo:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="dOcente.telefono_doc" id="telefono_do" type="text" class="form-control" name="descripcion" required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"> Direcion Administrativo:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="dOcente.direccion_doc" id="direccion_do" type="text" class="form-control" name="descripcion" required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-actions">
                    <div class="pull-left">
                      <div class="col-md-12">
                        <button class="btn btn-primary" type="submit">
                          Guardar
                        </button>
                        <button class="btn btn-danger" type="button" (click)="cancelar()">
                          Cancelar
                        </button>
                      </div>
                    </div>
                    <div style="clear:both"></div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>