<div id="content">
  <wt-shuyai *ngIf="cargando || conectar"></wt-shuyai>
  <sa-widgets-grid>
    <div class="row">
      <article class="col-xs-12">
        <sa-widget id="wid-mi-li-0" [editbutton]="false" [colorbutton]="false" [togglebutton]="false"
          [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [collapsed]="false"
          [sortable]="false">
          <header>
            <h2>
              <strong>Lista de datos</strong>
            </h2>
          </header>
          <div class="widget-body">
            <div class="text-center">
              <div class="pull-left header-button">
                <a class="btn btn-primary" (click)="open()">Nuevo</a>
              </div>
              <h3>Aplicaciones</h3>
            </div>
            <div *ngIf="!cargando">
              <table class="table table-stripped table-hover">
                <thead>
                  <tr>
                    <th class="acciones">Acciones</th>

                    <th>Tipo de Ordenador</th>
                    <th>marca</th>
                    <th>Codigo Utn</th>
                    <th>Modelo</th>
                    <th>Color</th>
                    <th>Serie</th>
                    <th>Marca de procesador</th>
                    <th>Capacidad de Disco</th>
                    <th>Capacidad de Ram </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let s of parametros; let i = index">
                    <td>
                      <a placement="top" tooltip="Editar Fila" class="fa fa-pencil fa-lg" (click)="getFila(s)"></a>
                    </td>
                    <td>{{s.tipopc}}</td>
                    <td>{{s.id_marca}}</td>
                    <td>{{s.codutnpc}}</td>
                    <td>{{s.modelopc}}</td>
                    <td>{{s.colorpc}}</td>
                    <td>{{s.seriecpu}}</td>
                    <td>{{s.mrprocesador}}</td>
                    <td>{{s.capacidaddisco}}</td>
                    <td>{{s.capacidadram}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>
  <div id="anio" bsModal #mdoRdenador="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
    [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="cancelar()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{oRdenador.id_pc ? 'Editar registro' : 'Nuevo registro'}} </h4>
        </div>
        <div class="modal-body">
          <wt-shuyai *ngIf="cargando"></wt-shuyai>
          <div class="row">
            <div class="col-lg-12">
              <form id="frmOrdenador" #form [saBootstrapValidator]="getValidators()" novalidate="novalidate"
                (submitEvent)="saveValidar($event)" class="form-horizontal">
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"> Codigo Utn de Ordenador:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="oRdenador.codutnpc" id="codutnpc" type="text" class="form-control" name="codutnpc"
                        required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"> Tipo Ordenador:
                      <b class="text-danger">*</b>
                    </label>
                    <select class="select-menu" name="Tipo" [(ngModel)]="oRdenador.tipopc" font-size="5" id="tipopc">
                      <option *ngFor="let item of lista" [value]="item">
                        {{item}}
                      </option>
                    </select>
                  </div>
                </fieldset>
                <fieldset>
                  
                  <label class="col-lg-4 text-letf">
                    <b>Marca Ordenador:
                      <b class="text-danger"> *</b>
                    </b>
                  </label>
                  <div class="col-lg-8">
                    <select name="Tipo1" [(ngModel)]="oRdenador.id_marca" class="form-control"
                      required>
                      <option *ngFor="let c of marca" [ngValue]="c.id_marca">{{c.nombre_marca}}</option>
                    </select>
                  </div>
                  
                    </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"> Modelo Ordenador:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="oRdenador.modelopc" id="modelopc" type="text" class="form-control" name="modelopc"
                        required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"> Color Ordenador:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="oRdenador.colorpc" id="colorpc" type="text" class="form-control" name="colorpc"
                        required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"> Marca Mouse del Ordenador:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="oRdenador.m_marcapc" id="m_marcapc" type="text" class="form-control" name="m_marcapc"
                        required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"> Numero de Serie de Mouse de Ordenador:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="oRdenador.m_nseriepc" id="m_nseriepc" type="text" class="form-control" name="m_nseriepc"
                        required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"> Color de Mouse de Ordenador:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="oRdenador.m_colorpc" id="m_colorpc" type="text" class="form-control" name="m_colorpc"
                        required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"> Marca de Pantalla de Ordenador:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="oRdenador.p_marcpc" id="p_marcpc" type="text" class="form-control" name="p_marcpc"
                        required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"> Modelo de Pantalla de Ordenador:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="oRdenador.p_modelopc" id="p_modelopc" type="text" class="form-control" name="p_modelopc"
                        required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label">Numero de Serie de Pantalla de Ordenador:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="oRdenador.p_nseriepc" id="p_nseriepc" type="text" class="form-control" name="p_nseriepc"
                        required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"> Color de Pantalla de Ordenador:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="oRdenador.p_colorpc" id="p_colorpc" type="text" class="form-control" name="p_colorpc"
                        required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"> Tamaño de Pantalla de Ordenador:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="oRdenador.p_tampc" id="p_tampc" type="text" class="form-control" name="p_tampc"
                        required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"> Serie de Cpu de Ordenador:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="oRdenador.seriecpu" id="seriecpu" type="text" class="form-control" name="seriecpu"
                        required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"> Marca de Procesador de Ordenador:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="oRdenador.mrprocesador" id="mrprocesador" type="text" class="form-control" name="mrprocesador"
                        required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"> Modelo de Procesador de Ordenador:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="oRdenador.moprocesador" id="moprocesador" type="text" class="form-control" name="moprocesador"
                        required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label"> Capacidad de Disco de Ordenador:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="oRdenador.capacidaddisco" id="capacidaddisco" type="text" class="form-control" name="capacidaddisco"
                        required>
                    </div>
                  </div>
                </fieldset>
                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label">Capacidad de Ram de Ordenador:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="oRdenador.capacidadram" id="capacidadram" type="text" class="form-control" name="capacidadram"
                        required>
                    </div>
                  </div>
                </fieldset>
               
                <fieldset>
                  <div class="form-actions">
                    <div class="pull-left">
                      <div class="col-md-12">
                        <button class="btn btn-primary" type="submit">
                          Guardar
                        </button>
                        <button class="btn btn-danger" type="button" (click)="cancelar()">
                          Cancelar
                        </button>
                      </div>
                    </div>
                    <div style="clear:both"></div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>