<aside id="left-panel">

  <!-- User info -->
  <fbg-login-info></fbg-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu *ngIf="!cargandoMenu">
      <li routerLinkActive="active">
        <a routerLink="/home" title="Home">
          <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{'Inicio'}}</span></a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/activos" title="Activos">
          <i class="fa fa-lg fa-fw "></i> <span class="menu-item-parent">{{'Activos'}}</span></a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/electricos" title="Electricos">
          <i class="fa fa-lg fa-fw "></i> <span class="menu-item-parent">{{'Electricos'}}</span></a>
      </li>
      <li><a >Espacio/Mant </a>
        <ul class="dropdown">
            <li routerLinkActive="active">
                <a routerLink="/mtsp/mantenimiento" title="Esp-Mant">
                  <i class="fa fa-lg fa-fw "></i> <span class="menu-item-parent">{{'Mantenimiento'}}</span></a>
              </li>
              <li routerLinkActive="active">
                  <a routerLink="/mtsp/mantenimiento/tipo" title="Esp-Mant">
                    <i class="fa fa-lg fa-fw "></i> <span class="menu-item-parent">{{'Tipo Mante'}}</span></a>
                </li>
                <li routerLinkActive="active">
                    <a routerLink="/mtsp/espacios" title="Esp-Mant">
                      <i class="fa fa-lg fa-fw "></i> <span class="menu-item-parent">{{'Espacio'}}</span></a>
                  </li>
                  <li routerLinkActive="active">
                      <a routerLink="/mtsp/espacios/tipo" title="Esp-Mant">
                        <i class="fa fa-lg fa-fw "></i> <span class="menu-item-parent">{{'Tipo Espacio'}}</span></a>
                    </li>
          
        </ul></li>
      
      <li routerLinkActive="active">
        <a routerLink="/ordenador" title="Ordenador">
          <i class="fa fa-lg fa-fw "></i> <span class="menu-item-parent">{{'Ordenador'}}</span></a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/ced" title="Persona">
          <i class="fa fa-lg fa-fw "></i> <span class="menu-item-parent">{{'Persona'}}</span></a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/software" title="Software">
          <i class="fa fa-lg fa-fw "></i> <span class="menu-item-parent">{{'Software'}}</span></a>
      </li>
      <li routerLinkActive="active">
        <a routerLink="/ubicacion" title="Ubicacion">
          <i class="fa fa-lg fa-fw "></i> <span class="menu-item-parent">{{'Ubicacion'}}</span></a>
      </li>
      <li routerLinkActive="active" *ngFor="let item of menu">
        <a [title]="item.nombre">
          <i class="fa fa-lg fa-fw fa-{{item.icono}}"></i> <span class="menu-item-parent">{{item.nombre}}</span>
        </a>
      </li>
      

    </ul>
  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>