<aside id="left-panel">

  <!-- User info -->
  <fbg-login-info></fbg-login-info>
  <!-- end user info -->

  <nav>
    <!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

    <ul saSmartMenu *ngIf="!cargandoMenu">
      <li routerLinkActive="active">
        <a routerLink="/home" title="Home">
          <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{'Inicio'}}</span></a>
      </li>
        <li routerLinkActive="active">
          <a routerLink="/activos" title="Activos">
            <i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{'Activos'}}</span></a>
        </li>
        <li routerLinkActive="active" *ngFor="let item of menu">
          <a [title]="item.nombre">
            <i class="fa fa-lg fa-fw fa-{{item.icono}}"></i> <span class="menu-item-parent">{{item.nombre}}</span>
          </a>
        </li>
        <ul class="nav navbar-nav">
          <li class="dropdown" dropdown >
            <a dropdownToggle role="button"> <!-- {2} -->
                Page1<span class="caret"></span></a>
            <div *dropdownMenu class="dropdown-menu">
              <a class="dropdown-item" href="#">Page1.1</a>
            </div>
          </li>
          <li><a class="nav-link" href="#">Page2</a></li>
        </ul>
      </ul>
  </nav>

  <sa-minify-menu></sa-minify-menu>

</aside>