<div id="content">

  <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">

    <h3 class="txt-center">
      <b>Reservaciones</b>
    </h3>
  </div>
  <div class="pull-left header-button">
    <a class="btn btn-primary" (click)="open()">Reserva Estudiante</a>

    <a class="btn btn-primary" (click)="opend()">Reserva Docente</a>
  </div>
  <br>
 <!-- <sa-widgets-grid>

    <div id="calendar"></div>

  </sa-widgets-grid>
-->

  <sa-widgets-grid>
    <div class="row">
      <article class="col-xs-12">
        <sa-widget id="wid-mi-li-0" [editbutton]="false" [colorbutton]="false" [togglebutton]="false"
          [deletebutton]="false" [fullscreenbutton]="false" [custombutton]="false" [collapsed]="false"
          [sortable]="false">
          <header>
            <h2>
              <strong>Lista de datos</strong>
            </h2>
          </header>
          <div class="widget-body">
            <div class="text-center">

              <h3>Aplicaciones</h3>
            </div>
            <div *ngIf="!cargando">
              <table   paginationLength="10" paginationLength="10"  fbg-datatable [options]="{ order: [[ 1, 'desc' ]]} " paginationLength="10"  pdf="Reporte"
              class="table table-stripped table-hover"> 
                <thead>
                  <tr>
                    <th class="acciones">Acciones</th>
                    
                     <th>Fecha</th>
                     <th>Tipo de reserva</th>
                    <th>Descripcion</th>
                    <th>Numero de horas</th>
                    <th>Usuario</th>
                    <th class="acciones">Estado</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let s of parametros; let i = index">
                    <td>
                      <a placement="top" tooltip="Editar Fila" class="fa fa-pencil fa-lg" (click)="getFila(s)"></a>
                        </td>
                    
                    <td>{{getCast(s.fecha_inicio) | date : 'dd/MM/yyyy HH:mm'}}</td>
                    <td>{{s.tipo_reserva}}</td>
                    <td>{{s.descripcion}}</td>
                    <td>{{s.fecha_fin}}</td>
                    <td>{{ getNpersona(s.id_persona)}} {{ getNdocentes(s.id_docente)}}</td>
                    <td><select size="1" id="row-2-office" name="row-2-office">
                      <option value="Aceptado"  >
                          Aceptado
                      </option>
                      <option value="Rechazado">
                          Rechazado
                      </option>
                      
                  </select>
                
                </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </sa-widget>
      </article>
    </div>
  </sa-widgets-grid>


  <div id="anio" bsModal #mdrEserva="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
    [config]="{backdrop: 'static',  keyboard: false}">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" (click)="cancelar()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h4 class="modal-title">{{reserva.id_regresv ? 'Editar registro' : 'Nuevo registro'}} </h4>
        </div>
        <div class="modal-body">
          <wt-shuyai *ngIf="cargando"></wt-shuyai>
          <div class="row">
            <div class="col-lg-12">
              <form id="frmActivo" #form [saBootstrapValidator]="getValidators()" novalidate="novalidate"
                (submitEvent)="saveValidar($event)" >
                <fieldset>
                  <label for="">Ingrese Su cedula para realizar reserva:</label>
                  <div class="">
                    <input class="form-control" name="typeestudiante" [(ngModel)]="selected" [typeahead]="personas"
                      typeaheadOptionField="documento" (typeaheadNoResults)="typeaheadNoResults($event)"
                      (typeaheadOnSelect)="onSelect($event)" name="id_persona" id="id_persona">
                    <label>Verifique si sus datos estan correctos. </label>
                    <pre class="card card-block card-header mb-6" name="value">{{datospersona(selected)}}</pre>
                  </div>
                </fieldset>

                <fieldset>
                  <label class="col-lg-4 control-label"> Lugar de reserva:
                    <b class="text-danger"> *</b>
                  </label>
                  <div class="col-lg-6">
                    <select class="select-menu" type="select" name="id_ubicacion" id="id_ubicacion"
                      [(ngModel)]="reserva.id_ubicacion" class="form-control" required>
                      <option *ngFor="let c of espacios" [ngValue]="c.id_ubicacion_esp">{{c.nombre}}</option>
                    </select>
                  </div>
                </fieldset>

                <fieldset>
                  <div class="form-group">
                    <label class="col-lg-4 control-label">Tipo de reserva:
                      <b class="text-danger">*</b>
                    </label>
                    <div class="col-lg-8">
                      <input [(ngModel)]="reserva.tipo_reserva" id="tiporeserva" type="text" class="form-control"
                        name="treserva" required>
                    </div>
                  </div>
                </fieldset>

                <fieldset>

                  <div class="form-group">
                    <label class="col-lg-4"><b>Fecha de reserva:<label class="text-danger"></label></b>
                    </label>
                      <div class="input-group">
                        <input id="fecha_inicio" type="text" placeholder="{{Fecha | date:'yyyy-MM-dd'}}"
                          class="form-control datepicker disabled" (valueUpdated)="setFecha($event)" name="fecha"
                          [value]="reserva.fecha_inicio | date: 'dd/MM/yyyy'" icon="true" required [saUiDatepicker]="{
                                    dateFormat: 'dd/mm/yy'}" notActualDate="true">
                        <span class="input-group-addon"><i class="fa fa-calendar" ></i></span>

                        <input class="form-control disabled clockpicker" smartClockpicker type="text"
                          (valueUpdated)="setHora($event)" [value]="reserva.fecha_inicio | date: 'HH:mm'"
                          placeholder="Hora" name="hora" icon="true" required>
                          
                        <span class="input-group-addon time"><i class="fa fa-clock-o"></i></span> 

                          </div>
                  </div>
                </fieldset>
                <fieldset>

                  <div class="form-group">
                    <label class="col-lg-4"><b>Hora Fin:<label class="text-danger"></label></b>
                    </label>
                      <div class="input-group">
                         <input class="form-control disabled clockpicker" smartClockpicker type="text"
                          (valueUpdated)="setHora($event)" [value]="reserva.fecha_fin | date: 'HH:mm'"
                          placeholder="Hora Fin" name="horafin" icon="true" required>
                          
                        <span class="input-group-addon time"><i class="fa fa-clock-o"></i></span> 

                          </div>
                  </div>
                </fieldset>
              
              
                <fieldset>
                    <div class="form-group">
                      <label class="col-lg-8 control-label">Descripción reserva:
                        <b class="text-danger">*</b>
                      </label>
                      <div class="col-lg-12">
                        <input [(ngModel)]="reserva.descripcion" id="descripcion" type="text" class="form-control"
                          name="descripcion" required>
                      </div>
                    </div>
                  </fieldset>
                <fieldset>
                  <div class="form-actions">
                    <div class="pull-left">
                      <div class="col-md-12">
                        <button class="btn btn-primary" type="submit">
                          Guardar
                        </button>
                        <button class="btn btn-danger" type="button" (click)="cancelar()">
                          Cancelar
                        </button>
                      </div>
                    </div>
                    <div style="clear:both"></div>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div id="anio" bsModal #mdrEservad="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"
[config]="{backdrop: 'static',  keyboard: false}">
<div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" (click)="cancelar()" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <h4 class="modal-title">{{reserva.id_regresv ? 'Editar registro' : 'Nuevo registro'}} </h4>
    </div>
    <div class="modal-body">
      <wt-shuyai *ngIf="cargando"></wt-shuyai>
      <div class="row">
        <div class="col-lg-12">
          <form id="frmActivo" #form [saBootstrapValidator]="getValidators()" novalidate="novalidate"
            (submitEvent)="saveValidar($event)" >
            <fieldset>
              <label for="">Ingrese cedula para realizar reserva:</label>
              <div class="">
                <input class="form-control" name="typedocente" [(ngModel)]="selected" [typeahead]="docente"
                  typeaheadOptionField="documento_doc" (typeaheadNoResults)="typeaheadNoResults($event)"
                  (typeaheadOnSelect)="onSelect($event)" name="id_persona" id="id_persona">
                <label>Verifique si sus datos estan correctos. </label>
                <pre class="card card-block card-header mb-6" name="value">{{datosdocente(selected)}}</pre>
              </div>
            </fieldset>

            <fieldset>
              <label class="col-lg-4 control-label"> Lugar de reserva:
                <b class="text-danger"> *</b>
              </label>
              <div class="col-lg-6">
                <select class="select-menu" type="select" name="id_ubicacion" id="id_ubicacion"
                  [(ngModel)]="reserva.id_ubicacion" class="form-control" required>
                  <option *ngFor="let c of espacios" [ngValue]="c.id_ubicacion_esp">{{c.nombre}}</option>
                </select>
              </div>
            </fieldset>

            <fieldset>
              <div class="form-group">
                <label class="col-lg-4 control-label">Tipo de reserva:
                  <b class="text-danger">*</b>
                </label>
                <div class="col-lg-8">
                  <input [(ngModel)]="reserva.tipo_reserva" id="tiporeserva" type="text" class="form-control"
                    name="treserva" required>
                </div>
              </div>
            </fieldset>

            <fieldset>

              <div class="form-group">
                <label class="col-lg-4"><b>Fecha de reserva:<label class="text-danger"></label></b>
                </label>
                  <div class="input-group">
                    <input id="fecha_inicio" type="text" placeholder="{{Fecha | date:'yyyy-MM-dd'}}"
                      class="form-control datepicker disabled" (valueUpdated)="setFecha($event)" name="fecha"
                      [value]="reserva.fecha_inicio | date: 'dd/MM/yyyy'" icon="true" required [saUiDatepicker]="{
                                dateFormat: 'dd/mm/yy'}" notActualDate="true">
                    <span class="input-group-addon"><i class="fa fa-calendar" ></i></span>

                    <input class="form-control disabled clockpicker" smartClockpicker type="text"
                      (valueUpdated)="setHora($event)" [value]="reserva.fecha_inicio | date: 'HH:mm'"
                      placeholder="Hora" name="hora" icon="true" required>
                      
                    <span class="input-group-addon time"><i class="fa fa-clock-o"></i></span> 

                      </div>
              </div>
            </fieldset>
            <fieldset>

              <div class="form-group">
                <label class="col-lg-4"><b>Hora Fin:<label class="text-danger"></label></b>
                </label>
                  <div class="input-group">
                     <input class="form-control disabled clockpicker" smartClockpicker type="text"
                      (valueUpdated)="setHora($event)" [value]="reserva.fecha_fin | date: 'HH:mm'"
                      placeholder="Hora Fin" name="horafin" icon="true" required>
                      
                    <span class="input-group-addon time"><i class="fa fa-clock-o"></i></span> 

                      </div>
              </div>
            </fieldset>
          
          
            <fieldset>
                <div class="form-group">
                  <label class="col-lg-8 control-label">Descripción reserva:
                    <b class="text-danger">*</b>
                  </label>
                  <div class="col-lg-12">
                    <input [(ngModel)]="reserva.descripcion" id="descripcion" type="text" class="form-control"
                      name="descripcion" required>
                  </div>
                </div>
              </fieldset>
            <fieldset>
              <div class="form-actions">
                <div class="pull-left">
                  <div class="col-md-12">
                    <button class="btn btn-primary" type="submit">
                      Guardar
                    </button>
                    <button class="btn btn-danger" type="button" (click)="cancelar()">
                      Cancelar
                    </button>
                  </div>
                </div>
                <div style="clear:both"></div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>