<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Inicio']" icon="home"
                            class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12">
            
        </div>
    </div>          
    
</div>


<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal1 content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
      </div>
      <div class="modal-body" style="padding:40px 50px;">
        <h1>MODAL 1</h1>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="close('myModal')">Close modal</button>
      </div>
    </div>
    
  </div>
</div> 

<div class="modal fade" id="myModal2" role="dialog">
  <div class="modal-dialog">
  
    <!-- Modal2 content-->
    <div class="modal-content">
      <div class="modal-header" style="padding:35px 50px;">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4><span class="glyphicon glyphicon-lock"></span> Login</h4>
      </div>
      <div class="modal-body" style="padding:40px 50px;">
        <h1>MODAL 2</h1>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" (click)="close('myModal2')">Close modal</button>
      </div>
    </div>
    
  </div>
</div> 